<h2>Here is OrderBook</h2>

<ul class="orderBookCharts">
  <li *ngFor="let orderBookChart of orderBookCharts"
      [class.selected]="orderBookChart === selectedOrderBookChart"
      (click)="onSelect(orderBookChart)">
    <span class="badge">{{orderBookChart.instrumentName}}</span>
  </li>
</ul>

<div *ngIf="currentChart">
  <p-chart type="horizontalBar" [data]="currentChart" [options]="options"></p-chart>
</div>

<!--<div *ngIf="selectedOrderBookChart">-->

  <!--<h2>{{selectedOrderBookChart.getInstrumentName() | uppercase}} Details</h2>-->
  <!--<div>-->
    <!--<label>name:-->
      <!--<input [(ngModel)]="selectedOrderBookChart.getInstrumentName()" placeholder="name">-->
    <!--</label>-->
  <!--</div>-->
  <!--<div>-->
    <!--<ul>-->
      <!--<li *ngFor="let orderBook of selectedOrderBookChart.getOrderBooks()">-->
        <!--<span>{{orderBook}}</span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

<!--</div>-->
